@use 'sass:color';
@use 'sass:map';
@import 'color';
@import 'font';
@import 'scut';

$button_border_radius: 500px;
$button_margin: 2px 5px 2px 0;
$button_text_decoration: none;
$button_transform: none;
$button_transform_active: translateY(1px);
$button_transition: all 0.3s ease;

$button_backgrounds: (
    brown: $color_brown_light,
    gold: $color_gold,
    gray: $color_gray,
    orange: $color_orange_dark,
    rose: $color_rose,
    seafoam: $color_seafoam,
    teal: $color_teal,
    white: #fff,
);

$button_backgrounds_active: (
    white: $color_brown,
);

$button_borders: (
    brown: none,
    gold: none,
    gray: none,
    orange: none,
    rose: none,
    seafoam: none,
    teal: none,
    white: 1px solid,
);

$button_colors: (
    brown: #fff,
    gold: #000,
    gray: #fff,
    orange: #fff,
    rose: #000,
    seafoam: #000,
    teal: #fff,
    white: $color_brown_light,
);

$button_colors_active: (
    white: #fff,
);

$button_paddings_x: (
    small: 15px,
    large: 30px,
);

$button_paddings_y: (
    small: 5px,
    large: 10px,
);

@mixin button(
    $arrow: false,
    $color: white,
    $display: inline-block,
    $size: large
) {
    @include button_set_color($color);
    @include font(button);

    border-radius: $button_border_radius;
    box-shadow: map.get($box_shadows, low);
    cursor: pointer;
    display: $display;
    margin: $button_margin;
    position: relative;
    text-align: center;
    text-decoration: $button_text_decoration;
    transition: $button_transition;
    transform: $button_transform;

    &:last-child {
        margin-right: 0;
    }

    &:is(:active, :focus, :hover) {
        text-decoration: $button_text_decoration;
        transform: $button_transform_active;
    }

    &:is(:disabled, a:not(:any-link)) {
        @if $color == white {
            color: $color_gray;
        } @else {
            opacity: 0.8;
        }

        pointer-events: none;
    }

    &[hidden] {
        display: none;
    }

    @if $arrow {
        @include button_set_arrow($size);
    } @else {
        @include button_set_size($size);
    }
}

@mixin button_search(
    $color: teal,
    $display: inline-block,
    $size: large
) {
    @include scut-size(font_height());

    background:
        map.get($button_backgrounds, $color)
        url('../svg/mixin_button_search.svg')
        center
        no-repeat;
    border: none;
    border-radius: 0 $button_border_radius $button_border_radius 0;
    box-shadow: map.get($box_shadows, low);
    cursor: pointer;
    display: $display;
    vertical-align: middle;
}

@mixin button_set_arrow($size: large) {
    padding:
        map.get($button_paddings_y, $size)
        map.get($button_paddings_x, large);

    &::after {
        @include scut-absolute(50% 11px n n);

        border: 6px solid transparent;
        border-left-color: rgb(0 0 0 / 25%);
        border-right-width: 0;
        content: '';
        transform: translateY(-50%);
    }
}

@mixin button_set_color($color: white) {
    background: map.get($button_backgrounds, $color);
    border: map.get($button_borders, $color);
    color: map.get($button_colors, $color);

    &:is(:active, :focus, :hover) {
        @if map.has_key($button_backgrounds_active, $color) {
            background: map.get($button_backgrounds_active, $color);
        } @else {
            $dark: color.scale(
                map.get($button_backgrounds, $color),
                $lightness: -10%
            );

            background: $dark;
        }

        @if map.has_key($button_colors_active, $color) {
            color: map.get($button_colors_active, $color);
        } @else {
            color: map.get($button_colors, $color);
        }
    }
}

@mixin button_set_size($size: large) {
    padding:
        map.get($button_paddings_y, $size)
        map.get($button_paddings_x, $size);
}
