$color_bgsu_brown: #4f2c1d;
$color_bgsu_brown_light: #7f3f2f;
$color_bgsu_coral: #f37b6c;
$color_bgsu_gray: #3f3f3f;
$color_bgsu_gray_light: #f2f2f2;
$color_bgsu_gold: #f5c163;
$color_bgsu_orange: #fd5000;
$color_bgsu_orange_dark: #df3602;
$color_bgsu_orange_light: #ff7300;
$color_bgsu_rose: #e3a492;
$color_bgsu_seafoam: #80baac;
$color_bgsu_tan: #bb9b80;
$color_bgsu_tan_light: #f5e7d8;
$color_bgsu_teal: #1c626d;
