$mixin_color_bgsu_brown: #4f2c1d;
$mixin_color_bgsu_brown_light: #7f3f2f;
$mixin_color_bgsu_coral: #f37b6c;
$mixin_color_bgsu_gold: #f5c163;
$mixin_color_bgsu_orange: #fd5000;
$mixin_color_bgsu_orange_light: #ff7300;
$mixin_color_bgsu_rose: #e3a492;
$mixin_color_bgsu_seafoam: #80baac;
$mixin_color_bgsu_tan: #bb9b80;
$mixin_color_bgsu_teal: #1c626d;
