$color_brown: #4f2c1d;
$color_brown_light: #7f3f2f;
$color_coral: #f37b6c;
$color_gray: #767676;
$color_gray_light: #f2f2f2;
$color_gold: #f5c163;
$color_gold_light: #fdf3e0;
$color_orange: #fd5000;
$color_orange_dark: #df3602;
$color_orange_light: #ff7300;
$color_red: #a00;
$color_red_light: #c00;
$color_rose: #e3a492;
$color_seafoam: #80baac;
$color_tan: #bb9b80;
$color_tan_light: #f5e7d8;
$color_teal: #1c626d;
