@mixin container_breakpoint_small {
    @media screen and (width >= 576px) {
        @content;
    }
}

@mixin container_breakpoint_medium {
    @media screen and (width >= 768px) {
        @content;
    }
}

@mixin container_breakpoint_large {
    @media screen and (width >= 992px) {
        @content;
    }
}

@mixin container_breakpoint_huge {
    @media screen and (width >= 1200px) {
        @content;
    }
}

@mixin container_breakpoint_giant {
    @media screen and (width >= 1400px) {
        @content;
    }
}

@mixin container() {
    @media screen {
        margin: 0 auto;
        padding: $box_padding;
        width: 100%;
    }

    @include container_breakpoint_small {
        max-width: 540px;
    }

    @include container_breakpoint_medium {
        max-width: 45pc;
    }

    @include container_breakpoint_large {
        max-width: 60pc;
    }

    @include container_breakpoint_huge {
        max-width: 855pt;
    }

    @include container_breakpoint_giant {
        max-width: 990pt;
    }
}
