@use 'sass:map';
@import 'color';
@import 'font';
@import 'zero';

$list_bullet: '⚬';
$list_bullet_current: $scut-rstri;
$list_bullet_offset: 12px;
$list_bullet_width: 2rem;

@mixin list_ordered() {
    & > li {
        @include zero(list-item);

        margin-left: $list_bullet_width;
    }

    :is(ol, ul) {
        margin: 0;
    }
}

@mixin list_unordered() {
    list-style: none;

    & > li {
        @include zero(list-item);

        margin-left: $list_bullet_width;

        &::before {
            @include font(small);
            @include zero;

            content: $list_bullet;
            float: left;
            margin-left: calc(-1 * $list_bullet_width);
            padding-right: $list_bullet_offset;
            text-align: right;
            width: $list_bullet_width;

            @media screen {
                color: $color_orange;
            }
        }

        &[aria-current]::before {
            content: $list_bullet_current;
        }
    }

    :is(ol, ul) {
        margin: 0;
    }
}
