@import "includes/vars.css";

.common :global {
    box-sizing: border-box;
    color: var(--colorText);
    font-family: var(--fontFamilyVerb);
    font-feature-settings: "tnum";
    font-size: var(--fontSizeMedium);
    line-height: var(--lineHeightLarge);

    & *,
    & *::before,
    & *::after {
        box-sizing: inherit;
    }

    & ::placeholder {
        color: var(--colorTextLight);
    }

    & aside,
    & small {
        font-size: var(--fontSizeMedium);
        line-height: var(--lineHeightMedium);
    }

    & blockquote {
        border-left: 1px solid var(--colorGrayDark);
        color: var(--colorTextLight);
        font-size: var(--fontSizeMedium);
        margin: var(--widthSmall) var(--widthMedium);
        padding: 0 0 0 var(--widthSmall);

        & em {
            background: var(--colorHighlight);
            color: var(--colorText);
            font-style: normal;
        }
    }

    & code {
        font-family: var(--fontFamilyMonospace);
        font-size: var(--fontSizeMedium);
    }

    & fieldset {
        border: 0;
        margin: 0;
        min-width: 0;
        padding: 0;

        & fieldset {
            margin: var(--widthSmall) 0;
        }
    }

    & p,
    & ol,
    & ul {
        margin: 0 0 var(--widthMedium) 0;
        padding: 0;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & legend {
        color: var(--colorTextDark);
        font-weight: var(--fontWeightBold);
        line-height: var(--lineHeightSmall);
        margin: 0;
        padding: 0;
        word-break: break-word;
        -webkit-font-smoothing: antialiased;
    }

    & h1 {
        font-size: 2.2em;
        font-weight: var(--fontWeight);
    }

    & h2 {
        font-size: 2em;
        font-weight: var(--fontWeight);
    }

    & h3,
    & legend {
        font-size: 1.6em;
    }

    & h4,
    & fieldset legend {
        font-size: 1.4em;
    }

    & h5,
    & fieldset fieldset legend {
        font-size: 1.2em;
    }

    & h6 {
        font-size: 1em;
    }

    & hr {
        border: 0;
        border-top: 1px solid;
        height: 0;
        overflow: visible;
    }

    & iframe {
        border: none;
    }

    & img {
        border: none;
        vertical-align: middle;
    }

    & mark {
        background: var(--colorYellow);
        border-radius: var(--widthSmall);
        color: inherit;
        padding: 0 1px;
    }

    & pre {
        overflow: auto;
    }

    & ol,
    & ul {
        padding-left: 25px;

        & ol,
        & ul {
            margin-bottom: 0;
        }
    }

    & :target {
        background: var(--colorHighlight);
        border-radius: 1px;
        box-shadow: 0 0 0 var(--widthSmall) var(--colorHighlight);
    }

    & .toggle-control[aria-controls] {
        &::before {
            border: 5px solid transparent;
            content: "";
            display: inline-block;
            margin-right: var(--widthSmall);
            position: relative;
        }

        &[aria-expanded="false"]::before {
            border-left-color: var(--colorText);
            left: 3px;
        }

        &[aria-expanded="true"]::before {
            border-top-color: var(--colorText);
            top: 3px;
        }
    }

    & :any-link,
    & .toggle-control {
        color: var(--colorBrownLight);
        text-decoration: underline;

        &:hover,
        &:focus {
            color: var(--colorBrown);
        }

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: inherit;
        }
    }

    & .alert {
        background: var(--colorGrayLight);
        border: 1px solid var(--colorGrayDark);
        border-radius: var(--widthSmall);
        line-height: var(--lineHeightMedium);
        margin: 0 0 var(--widthMedium) 0;
        padding: var(--widthSmall) calc(var(--widthSmall) * 2);

        &.alert-failure {
            background: var(--colorRedLight);
            border-color: var(--colorRed);
        }

        &.alert-success {
            background: var(--colorGreenLight);
            border-color: var(--colorGreen);
        }
    }

    & .button {
        background: var(--colorGray);
        border: 1px solid var(--colorShadeDark);
        border-radius: calc(var(--widthSmall) / 2);
        box-shadow:
            inset 1px 1px 0 var(--colorShadeLight),
            -1px -1px 0 var(--colorShade);
        color: var(--colorTextDark);
        cursor: pointer;
        display: inline-block;
        font: inherit;
        line-height: var(--widthLarge);
        margin: var(--widthSmall) calc(var(--widthSmall) * 2);
        margin-left: 0;
        padding: 0 calc(var(--widthSmall) * 4);
        text-decoration: none;
        text-align: center;
        text-indent: 0;
        vertical-align: baseline;

        &[aria-hidden="true"] {
            display: none;
        }

        &:hover,
        &:focus {
            background: var(--colorGrayDark);
            border: 1px solid var(--colorShadowLight);
            box-shadow:
                inset 1px 1px 0 var(--colorShadeLight),
                inset -1px -1px 0 var(--colorShade),
                0 0 var(--widthSmall) var(--colorShadow);
            color: var(--colorTextDark);
        }

        &.button-primary {
            background: var(--colorBrownLight);
            color: var(--colorWhite);

            &:hover,
            &:focus {
                background: var(--colorBrown);
                color: var(--colorWhite);
            }
        }

        &.button-medium {
            line-height: calc(var(--widthSmall) * 6);
            margin: 0 calc(var(--widthSmall) * 2) 0 0;
            padding: 0 calc(var(--widthSmall) * 2);
        }

        &.button-small {
            font-size: var(--fontSizeMedium);
            line-height: var(--widthMedium);
            margin: 0 var(--widthSmall) 0 0;
            padding: 0 calc(var(--widthSmall) * 1.5);
            vertical-align: middle;
        }
    }

    & .flex {
        display: flex;

        & > * {
            flex: 1 1 0;
        }
    }

    & .form-item {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        margin: var(--widthSmall) 0;

        & > * {
            flex: 0 0 100%;
        }

        & > .form-item-row {
            & > * {
                display: block;
                margin: 0 var(--widthSmall) var(--widthSmall) 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    & .form-search {
        display: flex;
        max-width: 288px;

        & > button,
        & > input {
            background: var(--colorWhite);
            border: 1px solid var(--colorBrown);
            color: inherit;
            flex: 1 0 auto;
            font: inherit;
            margin: var(--widthSmall) 0;
            padding: 0 var(--widthSmall);
        }

        & > button {
            background: var(--colorBrown);
            color: var(--colorWhite);
            cursor: pointer;
            flex: 0 0 auto;
        }
    }

    & .icon {
        margin: 0 var(--widthSmall);

        &::before {
            display: inline-block;
            font-size: var(--fontSizeLarge);
            font-style: normal;
            font-weight: var(--fontWeightBold);
            line-height: 0;
            text-align: center;
            vertical-align: middle;
        }

        &.icon-info::before {
            border: 1px solid;
            border-radius: calc(var(--lineHeightMedium) * 1em / 2);
            content: "i";
            font-family: var(--fontFamilyGeorgia);
            font-size: calc(var(--lineHeightMedium) * 1em / 3);
            font-style: italic;
            height: calc(var(--lineHeightMedium) * 1em);
            line-height: var(--lineHeightMedium);
            margin-bottom: 2px;
            width: calc(var(--lineHeightMedium) * 1em);
        }

        &.icon-remove::before {
            color: var(--colorRed);
            content: "×";
        }

        &.icon-search::before {
            background: url("../svg/search.svg") no-repeat;
            content: "";
            height: 12px;
            width: 12px;
        }
    }

    & .img-thumb {
        border: var(--widthSmall) solid;
        border-radius: var(--widthSmall);
        height: 0;
        padding-top: 100%;
        margin-bottom: var(--widthSmall);
        overflow: hidden;
        position: relative;
        width: 100%;

        & > img {
            left: 0;
            margin: -10%;
            position: absolute;
            top: 0;
            width: 120%;
        }
    }

    & .link-block {
        border: 1px solid var(--colorBrownLight);
        border-radius: var(--widthSmall);
        color: var(--colorText);
        display: inline-block;
        line-height: var(--lineHeightMedium);
        margin: 0 0 var(--widthMedium) 0;
        padding: var(--widthSmall) calc(var(--widthSmall) * 2);
        text-decoration: none;
        width: 100%;

        &:focus,
        &:hover {
            background: var(--colorGray);
            border-color: var(--colorOrange);
            color: var(--colorTextDark);
        }
    }

    & .list-breadcrumb,
    & .list-inline {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            display: inline-block;
        }
    }

    & .list-breadcrumb {
        color: var(--colorTextLight);
        font-size: var(--fontSizeMedium);
        line-height: var(--lineHeightMedium);
        margin: 0 0 var(--widthMedium) 0;

        & > li {
            font-weight: var(--fontWeight);
            word-break: break-word;

            &::after {
                border-left: 1px solid;
                content: "";
                float: right;
                height: var(--fontSizeMedium);
                margin: var(--widthSmall) calc(var(--widthSmall) * 2);
                transform: rotate(15deg);
                vertical-align: middle;
            }

            &:last-child::after {
                display: none;
            }
        }
    }

    & .list-inline > li + li {
        padding-left: var(--widthSmall);
    }

    & .list-item-toggle {
        list-style: none;

        & > .toggle-control[aria-controls]::before {
            margin: 0 calc(var(--widthSmall) * 2) 0 -18px;
        }
    }

    & .nav-page {
        background: var(--colorGrayLight);
        border-radius: var(--widthSmall);
        clear: both;
        display: flex;
        flex-wrap: wrap;
        line-height: calc(var(--widthLarge) - var(--widthSmall) * 2);
        margin: 0 0 calc(var(--widthSmall) * 2) 0;
        padding: 0;

        & > :first-child {
            flex: 1 0 100%;
        }

        & a {
            display: inline-block;
            padding: var(--widthSmall);

            &::before,
            &::after {
                font-size: var(--fontSizeLarge);
                font-weight: var(--fontWeightLight);
                line-height: 1;
            }
        }

        & .nav-page-first::before {
            content: "« ";
        }

        & .nav-page-previous::before {
            content: "‹ ";
        }

        & .nav-page-next::after {
            content: " ›";
        }

        & .nav-page-last::after {
            content: " »";
        }

        & .nav-page-image {
            background-position: 50% 25%;
            background-size: cover;
            display: inline-block;
            height: 150px;
            margin-top: var(--widthSmall);
            vertical-align: bottom;
            width: 200px;

            & img {
                object-fit: cover;
                object-position: 50% 25%;
            }
        }

        &.nav-page-large {
            font-size: var(--fontSizeLarge);
            padding: calc(var(--widthSmall) * 2);

            & .nav-page-image {
                margin-top: calc(var(--widthSmall) * 2);
            }
        }
    }

    & .nav-tabs {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: calc(var(--widthMedium) / 2) 0;

        & a {
            background: var(--colorGray);
            border-left: 1px solid var(--colorWhite);
            border-top: var(--widthSmall) solid var(--colorWhite);
            color: var(--colorText);
            cursor: pointer;
            flex: 1 0 auto;
            font-weight: var(--fontWeightBold);
            line-height: var(--lineHeightMedium);
            padding: calc(var(--widthMedium) / 2) 0;
            text-align: center;
            text-decoration: none;
            z-index: 1;

            &:hover {
                background: var(--colorGrayDark);
                color: var(--colorTextDark);
            }

            &:first-child {
                border-left: none;
            }
        }

        & [aria-current="page"] {
            background: var(--colorWhite);
            border-left: none;
            border-top-color: var(--colorOrange);
            box-shadow:
                0 calc(var(--widthMedium) / 2) 0 0 var(--colorWhite),
                0 calc(var(--widthMedium) / -2) 0 0 var(--colorWhite),
                var(--widthSmall) 0 calc(var(--widthMedium) / 2)
                calc(var(--widthSmall) * -1) var(--colorShadowLight),
                calc(var(--widthSmall) * -1) 0 calc(var(--widthMedium) / 2)
                calc(var(--widthSmall) * -1) var(--colorShadowLight);
            color: var(--colorTextDark);
            cursor: default;
            z-index: 0;

            &:hover {
                background: inherit;
            }
        }
    }

    & .records .record a {
        display: block;
        margin: 0;
        padding: 0 0 var(--widthMedium) 0;
        text-decoration: none;

        & .record-description {
            color: var(--colorText);
        }

        & .record-title {
            text-decoration: underline;
        }

        & .record-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 128px;
            width: 100%;

            & img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        & p {
            margin: 0;
        }

        & blockquote p + p {
            margin-top: var(--widthSmall);
        }
    }

    & .records-gallery {
        margin: 0 calc(var(--widthSmall) * -2);
        overflow: auto;

        & .record {
            float: left;
            vertical-align: middle;
            width: 100%;

            & a {
                border: var(--widthSmall) solid var(--colorWhite);
                display: block;
                margin: 0 var(--widthSmall);
                margin-bottom: calc(var(--widthSmall) * 2);
                min-height: calc(50px + (var(--widthSmall) * 2));
                padding: 0;
                position: relative;
                transition: all 1s;

                & .record-details {
                    background: var(--colorBack);
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    max-height: 100%;
                    min-height: 50px;
                    overflow: hidden;
                    padding: var(--widthSmall);
                    position: absolute;
                    right: 0;
                    transition: all 1s;
                }

                & .record-description {
                    color: var(--colorTextDark);
                    line-height: var(--lineHeightMedium);
                    height: 0;
                    opacity: 0;
                    transition: all 1s;
                }

                & .record-title {
                    color: var(--colorTextDark);
                    font-size: var(--fontSizeLarge);
                    font-weight: var(--fontWeightBold);
                    text-decoration: none;
                }

                & .record-image {
                    background-color: var(--colorGrayDark);
                    background-position: 50% 25%;
                    background-size: cover;
                    height: 300px;

                    & img {
                        object-fit: cover;
                        object-position: 50% 25%;
                    }
                }

                & blockquote {
                    display: none;
                }

                &:hover,
                &:focus {
                    border-color: var(--colorOrange);
                    outline: none;

                    & .record-details {
                        background: var(--colorBackHover);
                        min-height: 100%;
                    }

                    & .record-description {
                        opacity: 1;
                    }
                }
            }
        }

        &.records-gallery-aspect .record a .record-image {
            height: auto;
        }

        &.records-gallery-column,
        &.records-gallery-single {
            & .record {
                float: none;
                width: 100%;
            }
        }

        &.records-gallery-images .record a {
            & .record-details {
                opacity: 0;
            }

            &:hover,
            &:focus {
                & .record-details {
                    opacity: 1;
                }
            }
        }
    }

    & .records-paginated {
        display: flex;
        flex-direction: column;

        & > .records {
            flex: 1 1 100%;
        }
    }

    & .sidebar {
        display: flex;
        flex-direction: column;
        position: relative;

        & .sidebar-image {
            margin: var(--widthSmall) 0;
            max-width: 100%;
        }

        & .sidebar-nav {
            border-radius: var(--widthSmall);
            margin: var(--widthSmall) 0;
            padding: var(--widthSmall) 0;

            &.sidebar-nav-background {
                background: var(--colorBack);
            }

            & > ol,
            & > ul {
                margin: 0;
            }
        }

        & .sidebar-title {
            font-size: var(--fontSizeLarge);
            line-height: var(--lineHeightMedium);
            font-weight: var(--fontWeightBold);
        }

        & .sidebar-left,
        & .sidebar-right {
            background-color: var(--colorGrayLight);
            border-radius: var(--widthSmall);
            line-height: var(--lineHeightMedium);
            margin: 0 0 calc(var(--widthSmall) * 2) 0;
            padding: var(--widthSmall) calc(var(--widthSmall) * 2);

            & > :last-child {
                margin-bottom: 0;
            }
        }
    }

    & .table {
        border-collapse: collapse;
        line-height: var(--lineHeightMedium);
        margin: 0 0 calc(var(--widthSmall) * 2) 0;
        padding: 0;

        & td,
        & th {
            border-bottom: 1px solid var(--colorGrayLight);
            padding: 2px 1em 2px 0;
            text-align: left;
            vertical-align: top;
        }

        & th {
            font-weight: var(--fontWeightBold);
        }

        & td:last-child,
        & th:last-child {
            padding-right: 0;
        }
    }

    & .text-center {
        text-align: center;
    }

    & .text-lead {
        font-size: var(--fontSizeSite);
        line-height: var(--lineHeightMedium);
    }

    & .text-left {
        text-align: left;
    }

    & .text-muted {
        color: var(--colorTextLight);
    }

    & .text-nowrap {
        white-space: nowrap;
    }

    & .text-right {
        text-align: right;
    }
}

@media screen and (--breakpointSmall) {
    .common :global {
        & .form-item {
            & > * {
                flex: 0 0 70%;
                margin: 0 0 0 15%;
            }

            & > label,
            & > .form-item-before {
                flex: 0 0 15%;
                margin: 0;
                padding-right: calc(var(--widthSmall) * 2);
                text-align: right;

                & + * {
                    margin-left: 0;
                }
            }

            & > .form-item-row {
                display: flex;

                & > * {
                    flex: 1 1 auto;
                    width: 0;
                }
            }

            & > .form-item-after {
                flex: 0 0 15%;
                margin: 0;
                padding-left: calc(var(--widthSmall) * 2);
                text-align: left;
            }
        }

        & .records-list .record a {
            display: flex;

            & .record-details {
                flex: 1 1 auto;
                margin-right: var(--widthSmall);
            }

            & .record-image {
                flex: 0 0 auto;
                width: 192px;
            }
        }

        & .records-gallery {
            & .record {
                width: calc(100% / 2);
            }

            & .records-gallery-column {
                columns: 2;
            }
        }
    }
}

@media screen and (--breakpointMedium) {
    .common :global {
        & .nav-page {
            flex-wrap: nowrap;
        }

        & .nav-page > :first-child {
            flex: 1 0 auto;
        }

        & .nav-page > :last-child {
            flex: 1 1 auto;
            text-align: right;
        }

        & .nav-page-first,
        & .nav-page-previous {
            text-align: left;
        }

        & .nav-page-next,
        & .nav-page-last {
            text-align: right;
        }

        & .nav-tabs {
            flex-direction: row;

            & a {
                z-index: 0;
            }

            & [aria-current="page"] {
                z-index: 1;
            }
        }

        & .records-gallery {
            & .record {
                width: calc(100% / 3);
            }

            &.records-gallery-column {
                columns: 3;
            }
        }

        & .sidebar {
            flex-direction: row;

            & > * {
                flex: 1 0 0%;
                order: 1;
            }

            & > .sidebar-left,
            & > .sidebar-right {
                flex: 0 0 25%;
            }

            & > .sidebar-left {
                margin-right: calc(var(--widthSmall) * 4);
                order: 0;
            }

            & > .sidebar-right {
                margin-left: calc(var(--widthSmall) * 4);
                order: 2;
            }

            & .sidebar > .sidebar-left,
            & .sidebar > .sidebar-right {
                flex: 0 0 calc(33% - calc(var(--widthSmall) * 2));
            }
        }
    }
}

@media screen and (--breakpointLarge) {
    .common :global {
        & .records-gallery {
            & .record {
                width: calc(100% / 4);
            }

            &.records-gallery-column {
                column-count: 4;
                column-gap: 0;
            }
        }

        & .sidebar {
            & > .sidebar-left,
            & > .sidebar-right {
                flex: 0 0 20%;
            }

            & .sidebar > .sidebar-left,
            & .sidebar > .sidebar-right {
                flex: 0 0 calc(25% - calc(var(--widthSmall) * 3));
            }
        }
    }
}

@media print {
    .common :global {
        color: var(--colorBlack);

        & :any-link {
            color: inherit;
            text-decoration: none;
        }
    }
}
