@import "includes/vars.css";

.common :global {
    box-sizing: border-box;
    color: var(--colorText);
    font-family: var(--fontFamilyVerb);
    font-size: var(--fontSizeMedium);
    line-height: var(--lineHeightLarge);

    & *,
    & *::before,
    & *::after {
        box-sizing: inherit;
    }

    & blockquote {
        border-left: 1px solid var(--colorGrayDark);
        color: var(--colorTextLight);
        font-size: var(--fontSizeMedium);
        margin: var(--widthSmall) var(--widthMedium);
        padding: 0 0 0 var(--widthSmall);

        & em {
            background: var(--colorHightlight);
            color: var(--colorText);
            font-style: normal;
        }
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        color: var(--colorTextDark);
        font-weight: var(--fontWeightBold);
        line-height: var(--lineHeightSmall);
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
    }

    & h1 {
        font-size: 2.2em;
        font-weight: var(--fontWeight);
    }

    & h2 {
        font-size: 2em;
        font-weight: var(--fontWeight);
    }

    & h3 {
        font-size: 1.6em;
    }

    & h4 {
        font-size: 1.4em;
    }

    & h5 {
        font-size: 1.2em;
    }

    & h6 {
        font-size: 1em;
    }

    & hr {
        border: 0;
        border-top: 1px solid;
        height: 0;
        overflow: visible;
    }

    & img {
        border: none;
        vertical-align: middle;
    }

    & mark {
        background: var(--colorYellow);
        border-radius: var(--widthSmall);
        color: inherit;
        padding: 0 1px;
    }

    & p,
    & ol,
    & ul {
        margin: 0 0 var(--widthMedium) 0;
        padding: 0;
    }

    & ol,
    & ul {
        padding-left: 25px;

        & ol,
        & ul {
            margin-bottom: 0;
        }
    }

    & table {
        border-collapse: collapse;
    }

    & td,
    & th {
        text-align: left;
    }

    & td + td,
    & td + th,
    & th + td,
    & th + th {
        padding-left: 1em;
    }

    & :target {
        background: var(--colorGray);
        border-radius: 1px;
        box-shadow: 0 0 0 var(--widthSmall) var(--colorGray);
    }

    & [aria-hidden="true"] {
        display: none;
    }

    & [data-toggle] {
        background: transparent;
        border: 0;
        color: inherit;
        font: inherit;
        line-height: var(--lineHeightMedium);
        margin: 0;
        padding: 0;
        pointer-events: none;
        text-align: left;

        &[aria-controls] {
            cursor: pointer;
            pointer-events: auto;

            &::before {
                border: 5px solid transparent;
                content: "";
                display: inline-block;
                margin-right: var(--widthSmall);
                position: relative;
            }

            &[aria-expanded="false"]::before {
                border-left-color: var(--colorText);
                left: 3px;
            }

            &[aria-expanded="true"]::before {
                border-top-color: var(--colorText);
                top: 3px;
            }
        }
    }

    & [data-toggle],
    & :any-link {
        color: var(--colorBrownLight);
        text-decoration: underline;

        &:hover,
        &:focus {
            color: var(--colorOrange);
        }

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: inherit;
        }
    }

    & .active {
        font-weight: var(--fontWeightBold);
    }

    & .form-search {
        display: flex;
        max-width: 288px;

        & > button,
        & > input {
            background: var(--colorWhite);
            border: 1px solid var(--colorBrown);
            color: inherit;
            flex: 1 0 auto;
            font: inherit;
            margin: var(--widthSmall) 0;
            padding: 0 var(--widthSmall);
        }

        & > button {
            background: var(--colorBrown);
            color: var(--colorWhite);
            cursor: pointer;
            flex: 0 0 auto;
        }
    }

    & .icon {
        margin: 0 var(--widthSmall);

        &::before {
            display: inline-block;
            font-size: var(--fontSizeLarge);
            font-style: normal;
            font-weight: var(--fontWeightBold);
            line-height: 0;
            text-align: center;
            vertical-align: middle;
        }
    }

    & .icon-info::before {
        border: 1px solid;
        border-radius: calc(var(--lineHeightMedium) * 1em / 2);
        content: "i";
        font-family: var(--fontFamilyGeorgia);
        font-size: calc(var(--lineHeightMedium) * 1em / 3);
        font-style: italic;
        height: calc(var(--lineHeightMedium) * 1em);
        line-height: var(--lineHeightMedium);
        width: calc(var(--lineHeightMedium) * 1em);
    }

    & .icon-remove::before {
        color: var(--colorRed);
        content: "×";
    }

    & .icon-search::before {
        content: "⚲";
        font-weight: var(--fontWeight);
        transform: rotate(45deg);
    }

    & .img-thumb {
        border: var(--widthSmall) solid;
        border-radius: var(--widthSmall);
        height: 0;
        padding-top: 100%;
        margin-bottom: var(--widthSmall);
        overflow: hidden;
        position: relative;
        width: 100%;

        & > img {
            left: 0;
            margin: -10%;
            position: absolute;
            top: 0;
            width: 120%;
        }
    }

    & .link-block {
        border: 1px solid var(--colorBrownLight);
        border-radius: var(--widthSmall);
        color: var(--colorText);
        display: inline-block;
        line-height: var(--lineHeightMedium);
        margin: 0 0 var(--widthMedium) 0;
        padding: var(--widthSmall) calc(var(--widthSmall) * 2);
        text-decoration: none;
        width: 100%;

        &:focus,
        &:hover {
            background: var(--colorGray);
            border-color: var(--colorOrange);
            color: var(--colorText);
        }
    }

    & .list-breadcrumb,
    & .list-inline {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            display: inline-block;

            & + li {
                padding-left: var(--widthSmall);
            }
        }
    }

    & .list-breadcrumb {
        color: var(--colorTextLight);
        font-size: var(--fontSizeMedium);
        margin: 0 0 var(--widthMedium) 0;

        & > li + li::before {
            content: "/";
            display: inline-block;
            padding-right: var(--widthSmall);
        }
    }

    & .list-item-toggle {
        list-style: none;

        & > [data-toggle][aria-controls]::before {
            margin: 0 calc(var(--widthSmall) * 2) 0 -18px;
        }
    }

    & .nav-page {
        background: var(--colorGray);
        border-radius: var(--widthSmall);
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 calc(var(--widthSmall) * 2) 0;
        padding: 0;

        & :first-child {
            flex: 1 0 100%;
        }

        & a {
            display: inline-block;
            padding: var(--widthSmall) calc(var(--widthSmall) * 2);

            &::before,
            &::after {
                font-size: var(--fontSizeLarge);
                font-weight: var(--fontWeightLight);
                line-height: 1;
            }
        }

        & .nav-page-first::before {
            content: "« ";
        }

        & .nav-page-previous::before {
            content: "‹ ";
        }

        & .nav-page-next::after {
            content: " ›";
        }

        & .nav-page-last::after {
            content: " »";
        }
    }

    & .records .record a {
        display: block;
        margin: 0 0 var(--widthMedium) 0;
        text-decoration: none;

        & .record-description {
            color: var(--colorText);
        }

        & .record-title {
            text-decoration: underline;
        }

        & img {
            display: block;
            height: 128px;
            object-fit: scale-down;
            width: 100%;
        }

        & p {
            margin: 0;
        }
    }

    & .records-gallery {
        margin: 0 calc(var(--widthSmall) * -2);

        & .record {
            display: inline-block;
            vertical-align: middle;
            width: 100%;

            & a {
                border: var(--widthSmall) solid transparent;
                display: block;
                margin: 0 var(--widthSmall);
                margin-bottom: calc(var(--widthSmall) * 2);
                position: relative;
                transition: all 1s;

                & .record-details {
                    background: color-mod(var(--colorGray) alpha(85%));
                    bottom: 0;
                    left: 0;
                    margin: 0;
                    max-height: 100%;
                    min-height: 50px;
                    overflow: hidden;
                    padding: var(--widthSmall);
                    position: absolute;
                    right: 0;
                    transition: all 1s;
                }

                & .record-description {
                    color: var(--colorTextDark);
                    line-height: var(--lineHeightMedium);
                    height: 0;
                    opacity: 0;
                    transition: all 1s;
                }

                & .record-title {
                    color: var(--colorTextDark);
                    font-size: var(--fontSizeLarge);
                    font-weight: var(--fontWeightBold);
                    text-decoration: none;
                }

                & img {
                    background: var(--colorGrayDark);
                    height: 300px;
                    object-fit: cover;
                    object-position: 50% 25%;
                    width: 100%;
                }

                & blockquote {
                    display: none;
                }

                &:hover,
                &:focus {
                    border-color: var(--colorOrange);
                    outline: none;

                    & .record-details {
                        background: color-mod(var(--colorGray) alpha(95%));
                        min-height: 100%;
                    }

                    & .record-description {
                        opacity: 1;
                    }
                }
            }
        }

        &.records-gallery-aspect .record a img {
            height: auto;
        }

        &.records-gallery-column,
        &.records-gallery-single {
            & .record {
                width: 100%;
            }
        }

        &.records-gallery-images .record a {
            & .record-details {
                opacity: 0;
            }

            &:hover,
            &:focus {
                & .record-details {
                    opacity: 1;
                }
            }
        }
    }

    & .sidebar {
        display: flex;
        flex-direction: column;
        position: relative;

        & .sidebar-image {
            margin: 4px 0;
            max-width: 100%;
        }

        & .sidebar-title {
            font-size: inherit;
            line-height: inherit;
            font-weight: var(--fontWeightBold);
        }

        & .sidebar-left,
        & .sidebar-right {
            background-color: var(--colorGray);
            border-radius: var(--widthSmall);
            margin: 0 0 calc(var(--widthSmall) * 2) 0;
            padding: var(--widthSmall) calc(var(--widthSmall) * 2);
        }
    }

    & .text-center {
        text-align: center;
    }

    & .text-lead {
        font-size: var(--fontSizeSite);
        line-height: var(--lineHeightMedium);
    }

    & .text-left {
        text-align: left;
    }

    & .text-right {
        text-align: right;
    }
}

@media screen and (--breakpointSmall) {
    .common :global {
        & .records-list .record a {
            display: flex;

            & .record-details {
                flex: 1 1 auto;
                margin-right: var(--widthSmall);
            }

            & img {
                flex: 0 0 auto;
                width: 192px;
            }
        }

        & .records-gallery {
            & .record {
                width: calc(100% / 2);
            }

            & .records-gallery-column {
                columns: 2;
            }
        }

        & .nav-page :first-child {
            flex: 1 0 auto;
        }
    }
}

@media screen and (--breakpointMedium) {
    .common :global {
        & .records-gallery {
            & .record {
                width: calc(100% / 3);
            }

            &.records-gallery-column {
                columns: 3;
            }
        }

        & .sidebar {
            flex-direction: row;
            height: 100%;

            & > * {
                flex: 1 0 0;
                order: 1;
            }

            & > .sidebar-left,
            & > .sidebar-right {
                flex: 0 0 25%;
            }

            & > .sidebar-left {
                margin-right: calc(var(--widthSmall) * 2);
                order: 0;
            }

            & > .sidebar-right {
                margin-left: calc(var(--widthSmall) * 2);
                order: 2;
            }
        }
    }
}

@media screen and (--breakpointLarge) {
    .common :global {
        & .records-gallery {
            & .record {
                width: calc(100% / 4);
            }

            &.records-gallery-column {
                column-count: 4;
                column-gap: 0;
            }
        }

        & .sidebar {
            & > .sidebar-left,
            & > .sidebar-right {
                flex: 0 0 20%;
            }
        }
    }
}
