@import "includes/vars.css";

:global {
    & .flickity-enabled {
        padding: 0 calc(var(--width-medium) * 2);

        & [aria-hidden="true"] {
            display: block;
        }
    }

    & .flickity-prev-next-button {
        background: transparent;
        height: calc(var(--width-medium) * 2);
        width: calc(var(--width-medium) * 2);

        &:focus {
            box-shadow: none;
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
        }

        &:hover {
            background: transparent;
        }

        &.previous {
            left: var(--width-small);
        }

        &.next {
            right: var(--width-small);
        }

        & .flickity-button-icon {
            left: 0;
            height: 100%;
            top: 0;
            width: 100%;

            & .arrow {
                fill: var(--color-orange);
            }
        }
    }
}
