.libcal-title {
    /* stylelint-disable-next-line number-max-precision */
    font-size: 1.142857em;
    font-weight: 700;
    line-height: 1.6em;
}

.libcal-day {
    font-weight: 700;
    float: left;
    width: 8em;
}

.libcal-desc {
    float: right;
    margin-left: 20px;
}

.libcal-time {
    margin-bottom: 8px;
    min-width: 8em;
    overflow: hidden;

    & :global .s-lc-note {
        font-style: italic;
    }
}
