@import "includes/vars.css";

/* stylelint-disable-next-line */
.libraryh3lp_ask_cloud {
    margin: 0 0 var(--width-medium) 0;
    text-align: center;
}

/* stylelint-disable-next-line */
.libraryh3lp_ask_cloud a {
    display: inline-block;
    padding: var(--width-small);
    vertical-align: middle;
}

/* stylelint-disable-next-line */
.libraryh3lp_ask {
    display: inline-block;

    & > ul {
        background: var(--color-white);
        border-radius: var(--width-small);
        box-sizing: border-box;
        box-shadow: 0 1px 2px 0 var(--color-shadow);
        color: var(--color-text);
        font-size: calc(var(--font-size) * 0.875);
        line-height: var(--line-height-medium);
        list-style: none;
        margin: var(--width-small) 0;
        padding: 0;
        position: absolute;
        z-index: 999;

        & > li {
            cursor: pointer;
            margin: 0;
            padding: var(--width-small) calc(var(--width-small) * 2);

            &:focus,
            &:hover {
                background: var(--color-gray-light);
                color: var(--color-text-dark);
            }
        }
    }
}
