@import "includes/vars.css";

.libraryh3lp {
    background: var(--colorGray);
    border-radius: var(--widthSmall);
    bottom: var(--widthSmall);
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 var(--colorShadow);
    color: var(--colorTextDark);
    font-family: var(--fontFamilyHelvetica);
    font-size: calc(var(--fontSize) * 0.875);
    min-height: calc(var(--widthLarge) * 5);
    line-height: var(--lineHeightMedium);
    padding: calc(var(--widthSmall) * 2);
    position: fixed;
    right: var(--widthSmall);
    width: calc(var(--widthLarge) * 10);
    z-index: 999;

    & img {
        vertical-align: middle;
    }

    & > .head {
        font-weight: var(--fontWeightBold);
        margin: 0 var(--widthMedium) 0 0;

        & > .close {
            color: var(--colorBrownLight);
            font-size: 2em;
            font-weight: var(--fontWeight);
            line-height: 1;
            position: absolute;
            right: var(--widthSmall);
            text-decoration: none;
            top: 0;

            &:hover,
            &:focus {
                color: var(--colorBrown);
            }
        }
    }

    & > .body {
        margin-bottom: var(--widthSmall);
    }

    & > .foot {
        text-align: center;

        & > :any-link {
            background: var(--colorTextLight);
            border: 1px solid var(--colorShadeDark);
            border-radius: calc(var(--widthSmall) / 2);
            box-shadow:
                inset 1px 1px 0 var(--colorShadeLight),
                -1px -1px 0 var(--colorShade);
            color: var(--colorWhite);
            cursor: pointer;
            display: inline-block;
            font: inherit;
            line-height: var(--widthLarge);
            margin: var(--widthSmall) calc(var(--widthSmall) * 2);
            padding: 0 calc(var(--widthSmall) * 4);
            text-decoration: none;
            text-align: center;
            text-indent: 0;
            vertical-align: baseline;

            &:hover,
            &:focus {
                background: var(--colorText);
                border: 1px solid var(--colorShadowLight);
                box-shadow:
                    inset 1px 1px 0 var(--colorShadeLight),
                    inset -1px -1px 0 var(--colorShade),
                    0 0 var(--widthSmall) var(--colorShadow);
                color: var(--colorWhite);
            }
        }
    }
}

@media print {
    .libraryh3lp {
        display: none;
    }
}
