@import "includes/vars.css";

.tablist [role="tablist"] {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    list-style: none;
    margin: 0;
    padding: calc(var(--width-medium) / 2) 0;

    & [role="tab"] {
        background: var(--color-gray-light);
        border-left: 1px solid var(--color-white);
        border-top: var(--width-small) solid var(--color-white);
        color: var(--color-text-light);
        cursor: pointer;
        flex: 1 0 auto;
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-medium);
        padding: calc(var(--width-medium) / 2) 0;
        text-align: center;

        &:hover {
            background: var(--color-gray-dark);
            color: var(--color-text-light);
        }

        &:first-child {
            border-left: none;
        }

        &[aria-selected="true"] {
            background: var(--color-white);
            border-left: none;
            border-top-color: var(--color-orange);
            color: var(--color-text);
            cursor: default;
            box-shadow:
                0 calc(var(--width-medium) / 2) 0 0 var(--color-white),
                0 calc(var(--width-medium) / -2) 0 0 var(--color-white),
                var(--width-small) 0 calc(var(--width-medium) / 2)
                calc(var(--width-small) * -1) var(--color-shadow-light),
                calc(var(--width-small) * -1) 0 calc(var(--width-medium) / 2)
                calc(var(--width-small) * -1) var(--color-shadow-light);
            z-index: 1;

            &:hover {
                background: inherit;
            }
        }
    }
}
