@import "includes/vars.css";

:global {
    & .tippy-box {
        font-family: var(--font-family-verb);
        font-size: var(--font-size-medium);
        line-height: var(--line-height-small);

        &[data-theme~="light-border"] {
            background: var(--color-white);
            color: var(--color-text);
        }
    }
}
