@import "includes/vars.css";

:global [aria-hidden="true"] {
    display: none;
}

.toggle :global .toggle-control {
    background: transparent;
    border: 0;
    font: inherit;
    line-height: var(--lineHeightMedium);
    margin: 0;
    padding: 0;
    pointer-events: none;
    text-align: left;

    &[aria-controls] {
        cursor: pointer;
        pointer-events: auto;
    }
}
