@use 'sass:map';
@import 'mixins';

$box_padding_x: 13.5px;
$box_padding: $box_padding_y $box_padding_x;
$box_margin: $box_padding;

$font_sizes: map.merge(
    $font_sizes,
    (
        'button': 1em,
        'h3': 1.5em,
        'small': 0.875em,
    )
);

.libchat {
    @include root;
    @include box($shadow: medium);
    @include font(body);
    @include font(html);
    @include scut-fixed(null 0 0 null);

    display: none;
    transform: translateY(-100%);
    transition: transform 1s ease;
    width: 320px;
    z-index: 998;

    @include container_breakpoint_medium {
        display: block;
    }

    & > &_head {
        @include font(h3);
    }

    & > &_body, & > &_foot {
        @include font(small);

        text-align: center;
    }

    & > &_body {
        padding: $box_padding_y 0;
    }

    & > &_foot {
        display: flex;
        justify-content: space-evenly;
    }

    & &_button {
        @include button($color: brown, $size: small);

        &_close {
            @include close($size: 1em);
            @include scut-absolute(0 0 null null);

            padding: 1em;
        }
    }
}
