@use 'sass:map';
@import 'mixins';

$box_padding_x: 13.5px;
$box_padding: $box_padding_y $box_padding_x;
$box_margin: $box_padding;

$font_sizes: map.merge(
    $font_sizes,
    (
        'h3': 1.5em,
        'small': 0.875em,
    )
);

.libchat {
    @include root;
    @include box($shadow: medium);
    @include font(body);
    @include font(html);
    @include scut-fixed(null 0 0 null);

    transform: translateY(-100%);
    transition: transform 1s ease;
    width: 320px;
    z-index: 998;

    &_head {
        @include font(h3);
    }

    &_body,
    &_foot {
        @include font(small);

        text-align: center;
    }

    &_body {
        padding: $box_padding;
    }

    &_foot {
        display: flex;
        justify-content: space-evenly;
    }

    &_button {
        @include button;

        &_close {
            @include close(1em);
            @include scut-absolute(0 0 null null);

            padding: 1em;
        }
    }
}
