- const path = webpackConfig.output.publicPath

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title addremove.js - Template Scripts v#{htmlWebpackPlugin.options.version}
        include ../includes/fouc.pug
    body
        h1 addremove.js
        nav(aria-label="breadcrumb")
            ol.list-breadcrumb
                li: a(href=path) Template Scripts v#{htmlWebpackPlugin.options.version}
                li(aria-current="page") addremove.js
        include ../includes/script.pug
