- const path = webpackConfig.output.publicPath

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title libraryh3lp.js - Template Scripts v#{htmlWebpackPlugin.options.version}
        include ../includes/fouc.pug
    body
        h1 libraryh3lp.js
        nav(aria-label="breadcrumb")
            ol.list-breadcrumb
                li: a(href=path) Template Scripts v#{htmlWebpackPlugin.options.version}
                li(aria-current="page") libraryh3lp.js
        p.text-lead Adds a proactive notification box to webpages for LibraryH3lp chat.
        h2 Introduction
        p #[a(href="https://libraryh3lp.com/") LibraryH3lp] is used by the University Libraries for chat with patrons. The proactive notification box provided by LibraryH3lp uses jQuery UI, which often conflicts with third party services. This component provides an alternative with no dependencies and limited conflicts.
        h2 Setup
        p Include the #[a(href=path + "libraryh3lp.js") component javascript file], and setup the component for a specific LibraryH3lp user:
        pre: code
            = '<script src="' + path + 'libraryh3lp.js"></script>\n'
            = '<script>bgsu_libraryh3lp.setup("user");</script>'
        p Alternatively, setup a specific LibraryH3lp queue by changing the second parameter to true:
        pre: code
            = '<script src="' + path + 'libraryh3lp.js"></script>\n'
            = '<script>bgsu_libraryh3lp.setup("user", true);</script>'
        h2 Configuration
        p Specify an object to the third parameter with additional configuration options. For example, set a different amount of time to wait before displaying the notification:
        pre: code
            = '<script src="' + path + 'libraryh3lp.js"></script>\n'
            = '<script>bgsu_libraryh3lp.setup("user", false, {wait: 60});</script>'
        h3 Available Parameters
        ul
            li #[strong wait:] Time in seconds to wait before display. Default: 15
            li #[strong title:] Title of notification. Default: "Ask Us!"
            li #[strong body:] HTML body of notification. Default is an icon followed by the message below.
            li #[strong message:] If alternative HTML is not specified for the body, a message that appears below an icon in the body. Default: "Hi there. Let us know if we can help you find something!"
            li #[strong accept:] Text for the button to accept the chat. Default: "Chat with us now"
            li #[strong decline:] Text for the button to decline the chat. Default: "No thanks"
            li #[strong color:] CSS color of the buttons on the notificaiton. Should have adequate contrast with white text. Default: #[span(style="color:#fff;background:#7f3f2f") "#7f3f2f"]
            li #[strong skin:] ID number of the skin to use for the popup window. Default: 28594
            li #[strong width:] Width of the popup window. Default: 300
            li #[strong height:] Height of the popup window. Default: 400
        p After the initial delay, the notification will only be displayed if the chat user or queue is available. If no one is available, the method will wait 60 seconds before checking again.
        h2 Closing the notification
        p The notification can be closed via the #[code bgsu_libraryh3lp.close()] method.
        p The first parameter can be specified as true to set a cookie named #[code libraryh3lp-shhhh] to true for all paths during the current browser session. This will prevent the notification from appearing again. The name of this cookie is the same as that used by LibraryH3lp's proactive notification.
        p This method is called with the first parameter set to true when the user closes the notification. If the notification should not be displayed, the #[code bgsu_library.ignore] parameter is set to true.
        h2 Opening chat in a popup window
        p A helper is provided for opening a chat within a popup window. The first parameter is the URL to open in the popup, and the second is the features for the window as specified to #[a(href="https://developer.mozilla.org/en-US/docs/Web/API/Window/open") #[code window.open]]. The method will return true if the popup window could not be opened:
        pre: code
            = '<a href="https://libraryh3lp.com/chat/user@libraryh3lp.com"\n'
            = '    onclick="bgsu_libraryh3lp.open(this.href, \'width=300,height=400\');">\n'
            = 'Open</a>'
        p Besides opening the popup window, the method will also close the notification and set the #[code bgsu_library.ignore] parameter to true so the notification will not reappear on the current page.
        include ../includes/script.pug
