- const path = webpackConfig.output.publicPath

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title toggle.js - Template Scripts v#{htmlWebpackPlugin.options.version}
    body
        h1 toggle.js
        nav(aria-label="breadcrumb")
            ol.list-breadcrumb
                li: a(href=path) Template Scripts v#{htmlWebpackPlugin.options.version}
                li(aria-current="page") toggle.js
        include ../includes/script.pug
